
<!DOCTYPE html><html lang="en"><head>
    <link href="/assets/style.css" rel="stylesheet" type="text/css" media="all">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="fediverse:creator" content="ChrisWere@toot.wales" />
    <title>{{ site.title }}</title></head><body>
    <header><a href="/">Ilham Fauzan&#39;s website [zan.re]</a></header>
    <!--HEADER END-->
    {{ content }}
    <!--FOOTER BEGIN-->
    <footer></footer>
    </body></html>